/* Inizio header ----------------------------------------------- */
header {
    position: relative;
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
    /* Inizio nav e logo --------------------------------------- */
    nav {
        position: relative;
        width: 70%;
        margin: auto;
        height: 60px;
        line-height: 60px;
    }
        #logo {
            width: 20%;
            float: left;
        }
        #logo img {
            vertical-align: middle;
            width: 100px;
        }

        /* Inizio ul ------------------------------------------- */
        #menu {
            width: 60%;
            float: left;
            text-align: center;
        }
            ul, li {
                display: inline-block;
            }
            #menu a {
                margin: 0 20px;
                color: white;
                font-size: 12px;
                padding: 7px 10px;
            }

        /* Inizio btn ------------------------------------------ */
        #accedi {
            width: 20%;
            float: left;
            text-align: right;
        }
            #accedi a {
                color: black;
                font-size: 12px;
                padding: 7px 10px;
                background-color: white;
            }

/* Inizio header-bottom ---------------------------------------- */
#header-bottom {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
    h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }
    #header-bottom p {
        line-height: 1.6;
        margin-bottom: 10px;
    }
    #header-bottom a {
        display: inline-block;
        font-size: 15px;
        margin: 10px;
        padding: 10px 15px;
    }
    #header-bottom #mac {
        background-color: white;
        color: black;
    }
    #header-bottom #browser {
        background-color: rgb(15, 15, 15);
        color: white;
    }