/* Inizio header ----------------------------------------------- */
header {
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
    /* Inizio nav e logo --------------------------------------- */
    nav {
        position: relative;
        width: 70%;
        margin: auto;
        height: 60px;
        line-height: 60px;
    }
        #logo {
            width: 20%;
            float: left;
        }
        #logo img {
            vertical-align: middle;
            width: 100px;
        }

        /* Inizio ul ------------------------------------------- */
        #menu {
            width: 60%;
            float: left;
            text-align: center;
        }
            ul, li {
                display: inline-block;
            }
            #menu a {
                margin: 0 20px;
                color: white;
                font-size: 12px;
            }

        /* Inizio btn ------------------------------------------ */
        #accedi {
            width: 20%;
            float: left;
            text-align: right;
        }
            #accedi a {
                color: black;
                font-size: 12px;
                background-color: white;
                padding: 7px 10px;
                border-radius: 20px;
                text-decoration: none;
            }