/* Inizo main -------------------------------------------------- */
main {
}
    /* Inizio section */
    section {
        width: 65%;
        margin: auto;
        padding-top: 100px;
    }
    section div {
        float: left;
    }
    .pari div {
        float: right;
    }
    /* Proprietà parte img ------------------------------------- */
    .sec-img {
        width: 60%;
    }
        .sec-img img {
            width: 100%;
        }
    /* Proprietà parte text ------------------------------------ */
    .sec-text {
        width: 35%;
        padding-top: 20px;
    }
    .sec-text:not(.pari .sec-text) {
        margin-left: 5%;
    }
        .pari .sec-text {
            margin-right: 5%;
        }
        .sec-text p {
            font-size: 14px;
        }

    section:nth-last-child(2) {
        text-align: center;
    }

    section:last-child {
        padding-top: 50px;
        text-align: center;
        margin-bottom: 100px;
    }
        section svg {
            display: block;
        }
        h3 {
            font-size: 24px;
        }
        section:last-child a {
            display: inline-block;
            margin-top: 20px;
            background-color: rgb(103, 117, 199);
            padding: 10px 14px;
            color: white;
        }
    