/* Inizo main -------------------------------------------------- */
main {
    height: 1000px;
    background-color: lightgrey;
}
    section {
        width: 65%;
        margin: auto;
        padding-top: 100px;
    }
    section div {
        float: left;
    }
    .pari div {
        float: right;
    }

    .sec-img {
        width: 60%;
    }
        .sec-img img {
            width: 100%;
        }

    .sec-text {
        width: 35%;
        padding-top: 20px;
    }
    .sec-text:not(.pari .sec-text) {
        margin-left: 5%;
    }
        .pari .sec-text {
            margin-right: 5%;
        }
        .sec-text p {
            font-size: 14px;
        }